<div class="eqLogic-widget eqLogic allowResize flowerpowerbt" style="height: #height#;width: #width#;background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
    <center><strong><a href="#eqLink#" style="size : 1.3em;"> #name#  </a></strong></center><br />
    <div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4 flower_temp#id#"><center><i class="jeedom-thermo-moyen"></i></center></div><div class="col-md-8 flower_temp#id#"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#temp_id#">#temp# °C<div class="temp_instruction#id#"></div></span></div>
        </div><div class="row">
            <div class="col-md-4 flower_water#id#"><center><i class="fa fa-tint"></i></center></div><div class="col-md-8 flower_water#id#"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#water_id#">#water# %<div class="water_instruction#id#"></div></span></div>
        </div><div class="row">
            <div class="col-md-4 flower_sun#id#"><center><i class="fa fa-sun-o"></i></center></div><div class="col-md-8 flower_sun#id#"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#sun_id#">&nbsp;#sun# <div class="sun_instruction#id#"></div></span></div>
        </div><div class="row">
            <div class="col-md-4 flower_fertilizer#id#"><center><i class="fa fa-flask"></i></center></div><div class="col-md-8 flower_fertilizer#id#"><span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#fertilizer_id#">#fertilizer#<div class="fertilizer_instruction#id#"></div></span></div>
        </div>
    </div>
    <div class="col-md-6"><center><img width="100px" height="100px" src="#avatar#"></center></div>
	</div>
</div>
<style>

div.flower_temp#id# {
   	color: white;
   	font-weight: bold;
   	font-size: 1.2em;
}
div.flower_fertilizer#id# {
   	color: white;
   	font-weight: bold;
   	font-size: 1.2em;
}
div.flower_water#id# {
   	color: white;
   	font-weight: bold;
   	font-size: 1.2em;
}
div.flower_sun#id# {
   	color: white;
   	font-weight: bold;
   	font-size: 1.2em;
}
div.temp_instruction#id# {
	font-size: 0.5em;
}
div.water_instruction#id# {
	font-size: 0.5em;
}
div.sun_instruction#id# {
	font-size: 0.5em;
}
div.fertilizer_instruction#id# {
	font-size: 0.5em;
}
</style>
<script>
	if ('#temp_status#' == 'status_warning' || '#temp_status#' == 'status_critical') {
    	$('div.flower_temp#id#').css('color','red');
    }else if ('#temp_status#' == 'predicted_action') {
    	$('div.flower_temp#id#').css('color','yellow');
    }else{
    	$('div.temp_instruction#id#').hide();
    }
    if ('#fertilizer_status#' == 'status_warning' || '#fertilizer_status#' == 'status_critical') {
    	$('div.flower_fertilizer#id#').css('color','red');
    }else if ('#fertilizer_status#' == 'predicted_action') {
    	$('div.flower_fertilizer#id#').css('color','yellow');
    }
    if ('#water_status#' == 'status_warning' || '#water_status#' == 'status_critical') {
    	$('div.flower_water#id#').css('color','red');
    }else if ('#water_status#' == 'predicted_action') {
    	$('div.flower_water#id#').css('color','yellow');
    }
    if ('#sun_status#' == 'status_warning' || '#sun_status#' == 'status_critical') {
    	$('div.flower_sun#id#').css('color','red');
    }else if ('#sun_status#' == 'predicted_action') {
    	$('div.flower_sun#id#').css('color','yellow');
    }
    if('#temp_instruction#' == "air_temperature_too_high"){
    	$('div.temp_instruction#id#').replaceWith('<div,class="temp_instruction#id#">Température trop élevée</div>');
    }else if('#temp_instruction#' == "air_temperature_too_low"){
    	$('div.temp_instruction#id#').replaceWith('<div class="temp_instruction#id#">Température trop basse</div>');
    }
    if('#water_instruction#' == "soil_moisture_too_high"){
    	$('div.water_instruction#id#').replaceWith('<div class="water_instruction#id#">Trop d\'eau</div>');
    }else if('#water_instruction#' == "soil_moisture_too_low"){
    	$('div.water_instruction#id#').replaceWith('<div class="water_instruction#id#">Pas assez d\'eau</div>');
    }
    if('#sun_instruction#' == "light_too_high"){
    	$('div.sun_instruction#id#').replaceWith('<div class="sun_instruction#id#">Trop de soleil</div>');
    }else if('#sun_instruction#' == "light_too_low"){
    	$('div.sun_instruction#id#').replaceWith('<div class="sun_instruction#id#">Pas assez de soleil</div>');
    }
    if('#fertilizer_instruction#' == "fertilizer_too_high"){
    	$('div.fertilizer_instruction#id#').replaceWith('<div class="fertilizer_instruction#id#">Trop d\'engrais</div>');
    }else if('#fertilizer_instruction#' == "fertilizer_too_low"){
    	$('div.fertilizer_instruction#id#').replaceWith('<div class="fertilizer_instruction#id#"">Pas assez d\'engrais</div>');
    }
</script>
