<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <center> #name_display# </center>
  <center><i class="fa fa-sun-o"></i>  #air_temperature# °C </center><br/>
  <center><i class="fa fa-tint"></i> #soil_moisture# % </center><br/>
  <center><i class="fa fa-sun-o"></i>  #light# </center> <br/>
  <center><i class="fa fa-flask"></i>   #fertilizer# </center>
</div>
